header{
    width:960px;
    margin: 0 auto;
    position: relative;
}

#logo{
    width: 150px;
    height: auto;
    margin-top: 10px;
}
#searchform{
    position: absolute;
    width: 200px;
    top:10px;
    right: 270px;
    float: left;
}

#login{
    position: absolute;
    padding:10px 15px;
    border-radius: 5px;
    border: 1px solid #000;
    text-align: center;
    background: #e62017;
    width: 100px;
    right: 150px;
    top: 10px;
}
#login a{
    color: white;
}
#assign{
    position: absolute;
    padding:10px 15px;
    border-radius: 5px;
    border: 1px solid #0099e8;
    text-align: center;
    width: 100px;
    color: #0099e8;
    right: 10px;
    top:10px;
}
#assign:hover{
    background: #0099e8;
    color: white;
}
#assign:hover a{
    color:white;
}

a{
    text-decoration: none;
}

.first-stage{
    float:left;
    display: table-cell;
    position: relative;
}
#menu{
    margin: 0 auto;
    margin-top:10px;
    display: table;
    table-layout: fixed;
    width: 900px;
}
.first-stage a{
    display: block;
    font-size: 0.9em;
    font-weight: bold;
    padding: 10px 18px;
}

.first-stage:hover{
    background-color:rgba(169,169,169,0.3);
}

.container{
    background-image: url(/Day8/img/main_bg_pc.jpg);
    background-size: cover;
    height: 390px;
}

.main{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
#main_visual{
    position: absolute;
    top: 0;
    right: 0;
    width: 440px;
    height:390px;
}

#top_main_content{
    position: absolute;
    top: 20%;
    left: 0;
    height: 100%;
}
#top_main_content h1{
    font-size: 4.3em;
    font-weight: 700;
    color: white;
    text-shadow: 0 0 8px #999;
}

#top_main_content p{
    color: white;
    font-size: 1.3em;
    text-shadow: 0 0 8px #999;
}
#android{
    display:inline-block;
    overflow:hidden;
 background:url(/Day8/img/google-play-badge.png);
    width:165px;
    height:55px;
    background-size: cover;
}

#second-stage{
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    position: absolute;
    top: 30px;
    left: 0;
    width: 350px;
    transition: all .2s ease;
    background-color: white;
    border-radius: 10px;
}
#second-stage:before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom:8px solid red;
    left:5%;
    top:-15px;
}


.first-stage:hover #second-stage{
    visibility: visible;
    opacity: 1;
}
#top{
    background: red;
    border-radius: 10px 10px 0 0;
    padding: 10px 0;
    color: white;
    font-size: 15px;
    padding-left: 20px;
}

.under-menu nth-child(even){
    clear: both;
}
.under-menu{
    width:50%;
    float:left;
    font-size: 12px;
    line-height: 1.5em;
    text-align: center
}


