body{
    margin: 0;
    padding: 0;
}
.head{
    position: relative;
    height: 50px;
    margin-bottom: 30px;
}
.left-title{
    position: absolute;
    top: 0;
    float: left;
}

.right-title{
    position: absolute;
    top: 0;
    right: 10px;
}
.owner>p{
    float: left;
    padding-top: 34px;
}
.owner{
    display: inline-block;
}

.sub_title{
    float:right;
    font-size: 10px;
    padding-top: 26px;
}
.sub_title p:nth-child(2){
    color: #84c6bb;
}
#last_login{
    text-align: right;
}

#title_img{
    width: 100px;
    height:50px;
}

#reserve_btn{
    text-align: center;
    display: inline-block;
}
#reserve_btn a{
    display:block;
    text-decoration: none;
    padding: 20px 40px;
    background-color: #84c6bb;
    color: mintcream;
}
nav li{
    display: inline-block;
    width: 100px;
    float: left;
    margin:0;
    text-align: center;
}
nav li:last-child{
    float: right;
}
.top_nav{
    text-decoration: none;
    padding: 10px 0;
    display:block;
}
#deliver_information:hover .sub_nav {
    display: block;
    opacity: 1;
    height: auto;
}
nav li a:hover{
    background-color: #84c6bb;
    transition: 1.5s
}
.container{
    background-color: #f7f8f9;
    overflow: hidden;
}
.main{
    float: left;
    width: 70%;
    margin: 0 0 50px 20px;
}
.sub{
    float: right;
    width: 25%;
    margin:20px 20px 0 0;
}
.sub p:first-child{
    margin-bottom: 20px;
}
#three_alert li:nth-child(1){
    color: red;
}
#three_alert li:nth-child(2){
    color:#84c6bb;
}
#three_alert li:nth-child(3){
    color:#84c6bb;
}
#three_alert{
    margin: 20px;
}

#three-block{
    margin-bottom: 20px
}

#three-block li:nth-child(1){
    display: inline-block;
    width: 33%;
    height: 100px;
    background-color: #84c6bb;
    text-align: center;
}
#three-block li p {
    padding-top: 20px;
    color: mintcream;
}
.big_string::first-letter {
	font-size : 3em;
}
#three-block li:nth-child(2){
    display: inline-block;
    width: 33%;
    height: 100px;
    background-color: #006699;
    text-align: center
}
#three-block li:nth-child(3){
    display: inline-block;
    width: 33%;
    height: 100px;
    background-color: #FCB382;
    text-align: center
}

.footer{
    overflow: hidden;
    background-color: #959d9e; 
}
#about,#support,#service,#example{
    width:25%;
    float: left;
    text-align: center;
    padding: 20px 0;
}

#about p:first-child{
    color:white;
    font-size: 20px;
    padding-bottom: 20px
}
#support p:first-child{
    color:white;
    font-size: 20px;
    padding-bottom: 20px
}
#service p:first-child{
    color:white;
    font-size: 20px;
    padding-bottom: 20px
}
#example p:first-child{
    color:white;
    font-size: 20px;
    padding-bottom: 20px;
}
.main_information{
    overflow: hidden;
}
.right_information{
    width:50%;
    float:right;
}
.left_information{
    width: 50%;
    float:left;
}

table{
    border-radius: 5px;
    width: 90%;
    background-color: white;
    padding-bottom: 20px;
}
th,td{
    text-align: center;
    padding:10px 0;
}
th{
    border-bottom: 2px solid gray;
}

#main_information p:first-child{
    font-size:18px;
    color:#6FC5B8;
    padding:10px 0;
}

#graph{
    width:90%;
    height:300px;
    background-color: white;
    border-radius: 10px;
}
#main_information p:nth-child(2){
    padding-bottom: 10px;
}

#deliver_information{
    position: relative;
}
#deliver_information li:nth-child(1){
    position: absolute;
    top:36px;
    left: 0;
    background-color: white;
}
#deliver_information li:nth-child(2){
    position: absolute;
    top:52px;
    left: 0;
    background-color: white;
}
#deliver_information li:nth-child(3){
    position: absolute;
    top:68px;
    left: 0;
    background-color: white;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
.sub_nav{
    opacity: 0;
    height: 0;
    transition: all 1s ease;
}

.side_main_text p:first-child{
    color: goldenrod;
    border-bottom: 3px solid gray;
    font-size: 18px;
}
.side_main_text p:nth-child(2){
    padding: 10px 0 ;
}
.side_main_text {
    text-align: center;
    width:100%;
    height:200px;
    background-color: white;
    margin-bottom: 20px;
}
#round_btn{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 20px;
}
#round_btn a{
    display:block;
    text-decoration: none;
    padding: 20px 30px;
    background-color: #84c6bb;
    color: mintcream;
    border-radius: 30px;
}

#type p{
    font-weight: bold;
}

